@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
 
@include border-box-sizing; //border-box for all

// Layout
$narrow: 	25em; // 400px;
$small: 	40em; // 640px;\
$medium: 	60em; // 960px;
$wide: 		64em; // 1024px;
$xwide: 	75em; // 1200px;

$susy: (
  columns: 12,
  container: $wide,
  gutters: 1/4,
  gutter-position: inside
);

// Color Palette
$blue: 			#5094f2;
$red: 			#d94748;
$yellow: 		#ebbb11;
$lightGray: #909090;
$gray:			#cccccc;
$darkGray: 	#6f7173;
$light: 		#ffffff;
$dark: 			#000000;

$backgroundColor: $light;
$defaultColor: $lightGray;

// Font variables
$fontFamily: 'Open Sans', sans-serif;

//thickness
$thin: 		300;
$normal: 	400;

//font size *16px
$xxxlarge:		2.77625em;	// 44.42px;
$xxlarge: 		2.646875em; // 42.35px;
$xlarge:			2.25em;			// 36px;
$large: 			1.646875em; // 26.35px;
$xregular:		1.396875em; // 22.35px;
$regular: 		1.271875em; // 20.35px;
$smallFt:			0.959375em; // 15.35px;
$xsmall: 			0.896875em; // 14.35px;

$mainFont: $normal 1em/1em $fontFamily;
$headFont: $normal #{$xxlarge}/#{$xxxlarge} $fontFamily;