@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

$blue: 			#5094f2;
$red: 			#d94748;
$yellow: 		#ebbb11;
$lightGray: #909090;
$darkGray: 	#6f7173;
$white: 		#ffffff;
$black: 		#000000;

$backgroundColor: $white;
$defaultColor: $lightGray;


$fontFamily: 'Open Sans', sans-serif;
