@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
/* line 5, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/susy-2.2.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../../../components/sass/_base.scss */
body {
  font: 400 1em/1em "Open Sans", sans-serif;
  color: #909090;
  background-color: #ffffff;
}

/* body */
/* line 7, ../../../components/sass/_base.scss */
h1, h2, h3 {
  font: 400 2.64688em/2.77625em "Open Sans", sans-serif;
}

/* headings */
/* body */
/* line 7, ../../../components/sass/_layout.scss */
.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* container */
/* line 1, ../../../components/sass/modules/_header.scss */
header {
  height: 90px;
}
/* line 3, ../../../components/sass/modules/_header.scss */
header img {
  vertical-align: middle;
}
/* line 6, ../../../components/sass/modules/_header.scss */
header .logo {
  float: left;
  *zoom: 1;
}
/* line 38, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
header .logo:after {
  content: "";
  display: table;
  clear: both;
}
/* line 9, ../../../components/sass/modules/_header.scss */
header .logo span {
  color: #000000;
  font-size: 2.64688em;
  font-weight: 300;
  padding-left: 15px;
  line-height: 90px;
  vertical-align: middle;
}
/* line 18, ../../../components/sass/modules/_header.scss */
header nav {
  float: right;
  padding-top: 50px;
  font-size: 1.27188em;
  color: #6f7173;
  *zoom: 1;
}
/* line 38, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
header nav:after {
  content: "";
  display: table;
  clear: both;
}
/* line 27, ../../../components/sass/modules/_header.scss */
header nav li {
  display: inline-block;
  margin-right: 40px;
  padding-bottom: 21px;
}
/* line 31, ../../../components/sass/modules/_header.scss */
header nav li:hover {
  border-bottom: 3px solid #5094f2;
}
/* line 34, ../../../components/sass/modules/_header.scss */
header nav li a {
  text-decoration: none;
  color: inherit;
}

/* line 1, ../../../components/sass/modules/_banner.scss */
.banner {
  background: #6f7173;
}

/*# sourceMappingURL=style.css.map */
