@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
/* line 5, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/susy-2.2.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../../../components/sass/_base.scss */
body {
  font: 400 1em/1em "Open Sans", sans-serif;
  color: #909090;
  background-color: #ffffff;
}

/* body */
/* line 7, ../../../components/sass/_base.scss */
h1, h2, h3 {
  font: 400 2.64688em/2.77625em "Open Sans", sans-serif;
}

/* headings */
/* line 11, ../../../components/sass/_base.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* body */
/* line 7, ../../../components/sass/_layout.scss */
.container {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* container */
/* line 1, ../../../components/sass/modules/_header.scss */
header {
  height: 90px;
}
/* line 3, ../../../components/sass/modules/_header.scss */
header .logo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 7, ../../../components/sass/modules/_header.scss */
header .logo img {
  vertical-align: middle;
}
@media (max-width: 40em) {
  /* line 7, ../../../components/sass/modules/_header.scss */
  header .logo img {
    display: none;
  }
}
/* line 14, ../../../components/sass/modules/_header.scss */
header .logo span {
  color: #000000;
  font-size: 2.64688em;
  font-weight: 300;
  padding-left: 1.5625%;
  line-height: 90px;
  vertical-align: middle;
}
/* line 24, ../../../components/sass/modules/_header.scss */
header nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-size: 1.27188em;
  color: #6f7173;
  text-align: right;
}
@media (max-width: 40em) {
  /* line 24, ../../../components/sass/modules/_header.scss */
  header nav {
    position: relative;
  }
}
/* line 36, ../../../components/sass/modules/_header.scss */
header nav img {
  display: none;
  margin-top: 27px;
  margin-right: 4.0625%;
}
@media (max-width: 40em) {
  /* line 36, ../../../components/sass/modules/_header.scss */
  header nav img {
    display: inline-block;
    cursor: pointer;
  }
}
/* line 46, ../../../components/sass/modules/_header.scss */
header nav ul {
  padding-top: 50px;
}
@media (max-width: 40em) {
  /* line 46, ../../../components/sass/modules/_header.scss */
  header nav ul {
    display: none;
    position: absolute;
    z-index: 10;
    right: 5%;
    background: #000000;
    color: #ffffff;
    padding: 0;
    width: 80%;
  }
}
/* line 60, ../../../components/sass/modules/_header.scss */
header nav li {
  display: inline-block;
  margin-right: 4.16%;
  padding-bottom: 21px;
}
@media (max-width: 40em) {
  /* line 60, ../../../components/sass/modules/_header.scss */
  header nav li {
    display: list-item;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  /* line 69, ../../../components/sass/modules/_header.scss */
  header nav li:hover {
    background: #5094f2;
    border: 0;
  }
}
@media (min-width: 40em) {
  /* line 75, ../../../components/sass/modules/_header.scss */
  header nav li:hover {
    border-bottom: 3px solid #5094f2;
  }
  /* line 78, ../../../components/sass/modules/_header.scss */
  header nav li:last-child {
    margin-right: 0;
  }
}

/* line 1, ../../../components/sass/modules/_banner.scss */
.banner {
  background: url("../images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: auto;
  max-height: 420px;
}
/* line 6, ../../../components/sass/modules/_banner.scss */
.banner .unslider-arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
}
@media (max-width: 60em) {
  /* line 6, ../../../components/sass/modules/_banner.scss */
  .banner .unslider-arrow {
    display: none;
  }
}
/* line 13, ../../../components/sass/modules/_banner.scss */
.banner .unslider-arrow.prev {
  left: 5%;
}
/* line 16, ../../../components/sass/modules/_banner.scss */
.banner .unslider-arrow.next {
  right: 5%;
}
/* line 20, ../../../components/sass/modules/_banner.scss */
.banner ul {
  list-style: none;
}
/* line 23, ../../../components/sass/modules/_banner.scss */
.banner ul li {
  float: left;
}
/* line 26, ../../../components/sass/modules/_banner.scss */
.banner figure {
  *zoom: 1;
}
/* line 38, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.banner figure:after {
  content: "";
  display: table;
  clear: both;
}
/* line 28, ../../../components/sass/modules/_banner.scss */
.banner figure div {
  float: left;
  text-align: center;
  width: 50%;
}
/* line 33, ../../../components/sass/modules/_banner.scss */
.banner figure img {
  height: 420px;
  padding: 35px;
}
@media (max-width: 40em) {
  /* line 33, ../../../components/sass/modules/_banner.scss */
  .banner figure img {
    height: 220px;
  }
}
@media (min-width: 40em) and (max-width: 60em) {
  /* line 33, ../../../components/sass/modules/_banner.scss */
  .banner figure img {
    height: 320px;
  }
}
/* line 44, ../../../components/sass/modules/_banner.scss */
.banner figcaption {
  float: right;
  color: #ffffff;
  font-weight: 300;
  line-height: 2.77625em;
  width: 50%;
  padding-top: 140px;
}
@media (max-width: 40em) {
  /* line 44, ../../../components/sass/modules/_banner.scss */
  .banner figcaption {
    padding-top: 20px;
  }
}
@media (min-width: 40em) and (max-width: 60em) {
  /* line 44, ../../../components/sass/modules/_banner.scss */
  .banner figcaption {
    padding-top: 50px;
  }
}
/* line 57, ../../../components/sass/modules/_banner.scss */
.banner figcaption h1 {
  font-weight: 300;
  line-height: inherit;
  padding-bottom: 10px;
}
@media (max-width: 40em) {
  /* line 57, ../../../components/sass/modules/_banner.scss */
  .banner figcaption h1 {
    font-size: 1.64688em;
    line-height: 1.27188em;
  }
}
@media (min-width: 40em) and (max-width: 60em) {
  /* line 57, ../../../components/sass/modules/_banner.scss */
  .banner figcaption h1 {
    font-size: 2.25em;
    line-height: 1.39688em;
  }
}
/* line 70, ../../../components/sass/modules/_banner.scss */
.banner figcaption p {
  font-size: 1.64688em;
  line-height: inherit;
}
@media (max-width: 40em) {
  /* line 70, ../../../components/sass/modules/_banner.scss */
  .banner figcaption p {
    font-size: 1.27188em;
    line-height: 1.27188em;
  }
}
@media (min-width: 40em) and (max-width: 60em) {
  /* line 70, ../../../components/sass/modules/_banner.scss */
  .banner figcaption p {
    font-size: 1.39688em;
    line-height: 1.39688em;
  }
}
/* line 82, ../../../components/sass/modules/_banner.scss */
.banner figcaption a {
  background-color: #5094f2;
  border-radius: 2px;
  display: block;
  width: 172px;
  height: 41px;
  text-align: center;
  font-size: 1.39688em;
  margin: 25px 15px;
}
/* line 92, ../../../components/sass/modules/_banner.scss */
.banner figcaption i {
  margin-right: 10px;
  font-size: 23px;
}

/* line 2, ../../../components/sass/modules/_contrary.scss */
.contrary h3 {
  color: #5094f2;
  font-size: 1.27188em;
  line-height: 1.27188em;
}
@media (max-width: 40em) {
  /* line 2, ../../../components/sass/modules/_contrary.scss */
  .contrary h3 {
    font-size: 1.64688em;
    line-height: 1.64688em;
  }
}
@media (min-width: 40em) {
  /* line 2, ../../../components/sass/modules/_contrary.scss */
  .contrary h3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
/* line 16, ../../../components/sass/modules/_contrary.scss */
.contrary p {
  font-size: 0.95938em;
  line-height: 0.95938em;
}
@media (min-width: 40em) {
  /* line 16, ../../../components/sass/modules/_contrary.scss */
  .contrary p {
    text-align: center;
    line-height: 1.27188em;
  }
}
/* line 24, ../../../components/sass/modules/_contrary.scss */
.contrary .container > div {
  padding: 10px;
  padding-top: 50px;
  width: 33.3333%;
  float: left;
  *zoom: 1;
}
@media (max-width: 40em) {
  /* line 24, ../../../components/sass/modules/_contrary.scss */
  .contrary .container > div {
    border-bottom: 1px solid #cccccc;
    padding: 40px;
    padding-bottom: 30px;
    width: 100%;
  }
}
/* line 38, ../../../../../../../tools/ruby215/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.contrary .container > div:after {
  content: "";
  display: table;
  clear: both;
}
/* line 38, ../../../components/sass/modules/_contrary.scss */
.contrary .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 60px;
  border-radius: 50%;
  width: 135px;
  height: 135px;
  margin: auto;
}
@media (max-width: 25em) {
  /* line 38, ../../../components/sass/modules/_contrary.scss */
  .contrary .image {
    display: none;
  }
}
@media (max-width: 40em) {
  /* line 38, ../../../components/sass/modules/_contrary.scss */
  .contrary .image {
    float: left;
  }
}
@media (max-width: 40em) {
  /* line 53, ../../../components/sass/modules/_contrary.scss */
  .contrary .caption {
    float: left;
    width: 60%;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 0.89688em;
  }
}
/* line 62, ../../../components/sass/modules/_contrary.scss */
.contrary .pencil .image {
  background-image: url("../images/pencil.png");
  background-color: #5094f2;
}
/* line 66, ../../../components/sass/modules/_contrary.scss */
.contrary .desktop .image {
  background-image: url("../images/desktop.png");
  background-color: #d94748;
}
/* line 70, ../../../components/sass/modules/_contrary.scss */
.contrary .bucket .image {
  background-image: url("../images/bucket.png");
  background-color: #ebbb11;
}

/* line 1, ../../../components/sass/modules/_cart.scss */
.cart {
  padding-top: 30px;
}
/* line 3, ../../../components/sass/modules/_cart.scss */
.cart h2, .cart h3 {
  color: #6f7173;
  font-size: 2.25em;
  line-height: 44.42px;
  padding-bottom: 20px;
}
/* line 9, ../../../components/sass/modules/_cart.scss */
.cart h3 {
  font-size: 1.64688em;
}
/* line 12, ../../../components/sass/modules/_cart.scss */
.cart p {
  color: #909090;
  line-height: 2.25em;
}
/* line 16, ../../../components/sass/modules/_cart.scss */
.cart .left {
  text-align: center;
}
/* line 18, ../../../components/sass/modules/_cart.scss */
.cart .left img {
  width: 30%;
  max-width: 370px;
}
@media (min-width: 40em) {
  /* line 16, ../../../components/sass/modules/_cart.scss */
  .cart .left {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 24, ../../../components/sass/modules/_cart.scss */
  .cart .left img {
    width: 100%;
  }
}
/* line 29, ../../../components/sass/modules/_cart.scss */
.cart .right {
  padding: 5%;
}
@media (min-width: 40em) {
  /* line 29, ../../../components/sass/modules/_cart.scss */
  .cart .right {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

/* line 1, ../../../components/sass/modules/_footer.scss */
footer {
  text-align: center;
  border-top: 1px solid #cccccc;
}
/* line 4, ../../../components/sass/modules/_footer.scss */
footer p {
  margin: 35px;
}

/*# sourceMappingURL=style.css.map */
